.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  
  }
 
  .input label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 3rem;
    display: block;
    color: gray
  }
  
  .input input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 15rem;
    max-width: 100%;
    margin: 15px;
  }
  
  .button {
    cursor: pointer;
    border: none;
    background-color: #4d1601;
    margin-left: 31rem;
    color: white;
    padding: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    text-align: right;
    font-size: 15px;
  }
  .buttonPosition{
    text-align: right;
  }
  .button:hover {
    box-shadow: 5px 10px 18px #e7e6e6; 
    z-index: 20;
    background-color: #943814;
  }
  .form {
    max-width: 40rem;
    width: 90%;
    margin: 2rem auto;
    animation: form-appear 1s ease-out forwards;
    
  }
   .form h2 {
   color: darkgray;
   text-decoration: underline
 } 
  .formControl{
      margin-top: 89px;
  }
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes form-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .content{
      margin-bottom: 70px;
  }
  .emailInput {
    margin-left: 30px;
  }
  .topContent{
    height: 10rem;
}