/* .form{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 30rem;
} */
.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  
  }
  
  .input label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: gray
  }
  
  .input input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    margin: 15px;
  }
  
  .button {
    cursor: pointer;
    border: none;
    background-color: #4d1601;
    /* margin-left: 30.5rem; */
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    margin: 10px
  }
  .button2{
    cursor: pointer;
    border: solid 2px #4d1601;
    background-color: white;
    /* margin-left: 30.5rem; */
    color: #4d1601;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    margin: 10px
  }
  .buttonPosition{
    text-align: right;
    display: flex;
    flex-direction: row;
    margin-left: 22rem;
  }
  .button:hover{
    box-shadow: 5px 10px 18px #e7e6e6; 
    z-index: 20;
    background-color: #943814;
  }
  .button2:hover{
    box-shadow: 5px 10px 18px #e7e6e6; 
    z-index: 20;
    background-color: #f3bfab;
  }
  .form {
    max-width: 40rem;
    width: 90%;
    margin: 2rem auto;
    color: darkgray;
    animation: form-appear 1s ease-out forwards;
    
  }
  .formControl{
      margin-top: 50px;
  }
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes form-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .content{
      margin-bottom: 40px;
  }
  .dateInput {
    margin-left: 103px;
  }
  .topContent{
    height: 50px;
}